<div class="grid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <qr-code></qr-code>
        </div>
        <div class="col d-flex justify-content-center" style="margin-top:12em;">
            <h2>Formulario</h2>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <div style="text-align: center;">
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"></apx-chart>
            </div>
        </div>
    </div> -->

</div>