   [nz-button] {
       background: rgb(30, 149, 30);
       width: 8.5em;
       height: 3.5em;
       border-color: #fff;
   }



.overlay-disabled {
    z-index: 9999;    
    position: absolute;
    width: 60em;
    height: 32em;
    top: 5em;
    right:10em;
    background-color: rgba(248, 247, 216, 0.7);
}

.overlay-loading {
    z-index: 9999;    
    position: absolute;
    width: 30em;
    height: 32em;
    top: 9em;
    right:9.5em;
}


.overlay-disabled-none {
    display: none;
}