<div style="width: 100%;">
    <nz-space nzDirection="vertical">
        <nz-card *nzSpaceItem style="width: 99.5em; padding:0;">
            <h3>Alumnos</h3>
            <nz-table #basicTable [nzData]="dataSet">
                <tbody>
                    <tr *ngFor="let data of basicTable.data" (click)="this.getStudent(data)">
                        <td>{{data.fullName + ' - ' + data.idStudent}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
    </nz-space>
</div>
<div style="width: 100%;">
    <router-outlet></router-outlet>
</div>
